*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    /* background-image: url("../img/img4.jpg"); */
}

:root {
    --td-th-color:#ddd;
    --tr-even-color:#f2f2f2;
    --background-th: #1638cc;
    --color-th:rgb(255, 255, 255);
    --img-box-shadow:#000000;
    
}

body {
    line-height: 1.5em;
    color: #333;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

h1 {
    margin-left: 10px;
    font-size: 1.5em;
}

h2 {
    margin-left: 10px;
    font-size: 30px;
}

.titleh2 {
    font-size: 21px;

}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}

h3, h4, h5, h6 {
    margin-left: 10px;
}

ol li {
    list-style-position: inside;
    margin-left: 10px;
}

ul li {
    list-style-position: inside;
    margin-left: 10px;
}

table {
    table-layout: fixed;
    text-align: center;
}

#estilo {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#estilo td, #estilo th {
    border: 1px solid var(--td-th-color);
    padding: 8px;
    text-align: center;
  }
  
#estilo tr:nth-child(even){background-color: var(--tr-even-color);}
  
#estilo tr:hover {background-color: var(--td-th-color);}
  
#estilo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--background-th);
    color: var(--color-th);
    text-align: center;
  }

  img {
    width: 20%;
    border: thin solid;
    padding: 5px;
    margin: 12px 10px 10px 0;
    margin-left: 10px;
    box-shadow: 5px 5px 5px var(--img-box-shadow);
}

figcaption {
    margin-left: 10px;
}

.links {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: rgb(0, 0, 0);
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 98%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eeeeee;
    border-radius: 4px;
    
}

form input[type="text"], input[type="email"], input[type="number"] {
    width: 300px;
   -webkit-transition: width .30s ease-in-out;
    transition: width .30s ease-in-out;
    animation-delay: 2s;
}


form input[type="text"], input[type="email"], input[type="number"]:focus {
    width: 300px;
    box-shadow: 0 0 0 0;
    outline: 0;
    
}

form input:hover {
    background-color: #eeeeee; 

}






