*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    width:100%;
    background-image: linear-gradient(to bottom right, rgb(17, 17, 17), rgb(0, 17, 255));   
    padding: 5px;
    border: 8px solid #FC490B;
    border-radius: 20px;
}

.título {
    color: #FC490B;
    text-align: center;
    font-size: 30px;
}

.fundo {
    background-color: #82cdff;
    padding: 20px; 
    background-size: 100%;
    /* background-image: url("../img/img4.jpg"); */
}    

.logo {
    width: 100px;
    padding: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.menu {
    border: 1px solid black
    position fixed;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #FC490B
}

.menu li {
    display: inline;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    float: left;
}

li:hover {
    background-color:#ffffff ;
}
.rodape {
    border: 1px solid black;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}

.fonteh2 {
    font-size: 28px;
    color: #FC490B;
}

p{
    font-size: 18px;
}

.links {

}

.linkcolor {
    color: #0b1bfc
}
.rodape p {
    color: #ffffff
}
.cordafonte {
    font-weight: bold;

}

.img1 {
    width: 300px;
    border-radius: 20px;
}

.img2 {
    width: 300px;
    border-radius: 20px;
}

.links a:hover {
    color: #FC490B;

}

#linkteste  {
    width: 200px;
    border: 1px solid #ffffff;
    word-wrap: break-word;
    
}

a {
    color: #0b1bfc;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

a:visited {
    color: #0b1bfc;

}

a:hover {
    color: #FC490B;
    text-decoration: underline;
}

a:active {
    color: #00ff00;
}

.icone::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    margin:0 10px;
    list-style-type: none;
}

.icone::after {
    content: "✔";
    padding: 5px;
}

a[href$=".pdf"]::before {
    background-image: url("../img/pdf.png");
 }

 a[href*=".doc"]::before {
    background-image: url("../img/word.png");
 }

 a[href*=".xlsx"]::before {
    background-image: url("../img/excel.png");
 }

.primeirolink::before image {
    width: 10px;
}

.formone {
    width: 200px;
    border: 1px solid #82cdff;
    word-wrap: break-word;
}

.formtwo {
    width: 180px;
    border: 1px solid #82cdff;
    word-wrap: break-word;
    display: inline-block;
}

.formthree {
    width: 100px;
    border: 1px solid #82cdff;
    word-wrap: break-word;
    display: inline-block;
}

input:focus {
    background-color: rgba(0, 81, 255, 0.603);
}

input[type=text] {
    width: 200px;
    -webkit-transition: widht .35s ease-in-out;
    transition: widht .35s ease-in-out;
}

input[type=text]:focus {
    width: 250px;
}

.hoveraqui {
   padding: 6px;
   width: 280px;
   border: 2px solid #0099ff;
   border-radius: 10px;
   font-weight: bold;
   text-align: center;
   margin: 18px;
   margin-left: 0px;
}

.hoverp {
    display: none;
    background-color: #FC490B;
    padding: 20px;
    border-radius: 10px;
}

div:hover p {
    display: block;

}

.tabela, th, td {
    border: 1px solid black;
    width: 250px;
    text-align: center;
    padding: 2px;
    background-color: #0011fa9c;
    

}

.circulo {
    background: radial-gradient(circle, red, yellow, green);
    width: 80px;
    height: 50px;
    position: relative;
    padding: 80px;
    border: 1px solid black;
    border-radius: 80px;
}

.foto {
    background-image: url(../img/img5.png);
    background-image: 100%;
    background-size: 150px;
    width: 69px;
    padding: 68px;
    height: 10px;
    border-width: 40px;
    border: 29px;
    border-radius: 70px;
    position: absolute;
    top: 35%;
    left: 38%;
    margin: -44px 0 0 -49px;
 }
  
